{% extends 'agro/base.html'%}
{% load static %}

{% block content %}

<main>

      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/slide.jpg'%}" class= "d-block w-100" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/>

            <div class="container">
              <div class="carousel-caption text-start">
                <h1>AGRO DATA WEST AFRICA</h1>
                <p>welcome to AGRO DATA west africa.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/slide4.jpg'%}" class= "d-block w-100" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/>

            <div class="container">
              <div class="carousel-caption">
                <h1>AGRO DATA WEST AFRICA</h1>
                <p>welcome to AGRO DATA west africa.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/slide5.jpg'%}" class= "d-block w-100" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/>

            <div class="container">
              <div class="carousel-caption text-end">
                <h1>AGRO DATA WEST AFRICA</h1>
                <p>welcome to AGRO DATA west africa.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


  <!-- START THE FEATURETTES -->
<div class="container px-1 py-5" id="featured-3">
    
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <h2>Access Agriculture Data</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
         
        </div>
        <div class="feature col">
          <h2>Analyze & Export Data</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          
        </div>
        <div class="feature col">
          <h2>Simple & Interactive Data Charts</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <p><a class="btn btn-lg btn-primary" href="{% url 'main' %}">View Demo Page</a></p>
            
          </a>
        </div>
   </div>
</div>

        
  <div id= "refresh" >
    <div class="row">
      <div class="col-md-4 w-20">
          <canvas id="Home_one" width="20" height="15"></canvas>
      </div>
    
      <div class="col-md-4 w-20">
            <canvas id="Home_three" width="20" height="15"></canvas>  
        </div>

        <div class="col-md-4 w-20">
          <canvas id="Home_two" width="20" height="15"></canvas
        </div>
      </div>
  </div>

  <br><br><br>

  
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">AGRO DATA WEST AFRICA</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Something about Agro Data West Africa 
          Something about Agro Data West Africa 
          Something about Agro Data West Africa 
          Something about Agro Data West Africa 
          Something about Agro Data West Africa 
          Something about Agro Data West Africa
          Something about Agro Data West Africa.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Sign Up</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Contact Us</button>
        </div>
      </div>
    </div>
  </div>

  <br><br><br>

  

  <!-- /END THE FEATURETTES -->



      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-3">
            <a href="#"> <img src = "{% static 'img/partner.jpg'%}"  role="img" focusable="false" rect width="100%" height="100%" fill="#777"/> </a><text x="50%" y="50%" fill="#777" dy=".3em"></text> 
          
          </div>
            
          <div class="col-lg-3">
            <a href="#"> <img src = "{% static 'img/partner.jpg'%}"  role="img" focusable="false" rect width="100%" height="100%" fill="#777"/> </a><text x="50%" y="50%" fill="#777" dy=".3em"></text> 

          </div>

          <div class="col-lg-3">
            <a href="#"> <img src = "{% static 'img/partner.jpg'%}"  role="img" focusable="false" rect width="100%" height="100%" fill="#777"/> </a><text x="50%" y="50%" fill="#777" dy=".3em"></text> 

          </div>

          <div class="col-lg-3">
            <a href="#"> <img src = "{% static 'img/partner.jpg'%}"  role="img" focusable="false" rect width="100%" height="100%" fill="#777"/> </a><text x="50%" y="50%" fill="#777" dy=".3em"></text> 

          </div>
               
        </div><!-- /.row -->

      </div><!-- /.container -->

      <br><br><br>


</main>




{% endblock %}
